@font-face {
  font-family: 'Tabie';
  src: url('../assets/fonts/QatarTV_beta3-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tabie';
  src: url('../assets/fonts/QatarTV_beta3-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tabie';
  src: url('../assets/fonts/QatarTV_beta3-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
